@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');


.login {
  font-family: 'Comfortaa', cursive;
  display: flex;
  padding-top: 50px;
  flex-direction: column;

  align-items: center;


Button{
  background: #8CBB46;
}
  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__remember {
      display: flex;
      align-items: center;
      margin-top: 0.5rem;
    }
  }
}

.form {
  position: relative;
  z-index: 1;
  background: #8CBB46;
  border-radius: 10px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
}

.form input:focus {
  background: #39914f;
}

.form button {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  background: #54b74b;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form Button:active {
  background: #39914f;
}

.form span {
  font-size: 75px;
  color: #39914f;
}