.profileInfo {
	width: 450px;
	height: 550px;
	top: 50%;
	left: 50%;
	box-shadow: 3px 3px 3px 3px#88888895;
	box-sizing: border-box;
	position: absolute;
	transform: translate(-50%, -50%);

	h1 {
		position: relative;
		top: 3rem;
		left: 40%;
		margin-bottom: 7rem;
	}

	p {
		font-size: 20px;
		left: 5rem;
		position: relative;
	}
}
.profile__main .headingInfo{
	margin-right: 40px;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	
}

.chatInfo{
	background-color: #8CBB46 !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	margin-top: 20px !important;
	margin-right: 20px !important;
	color: #fff !important;
	font-size: 15px !important;
	width: 11rem;
}
.buttonGroup{
	background-color: transparent !important;
}